<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
    {% load static %}
    <link rel="stylesheet" href="{%  static  'general.css'  %}" />
  </head>
  <body>
    <button style="background-color: #f44336">
      <a style="color: white" href="/lab-4/">GO BACK</a>
    </button>
    <div class="container">
      <!-- LOOP -->
      {% for note in notes %}
      <div class="card">
        <p class="card-to">To: {{note.note_to}}</p>
        <p class="card-title">{{note.note_title}}</p>
        <hr class="dashed" />
        <div style="height: 75px; overflow: auto; margin-bottom: 20px">
          <p class="card-message">{{note.note_message}}</p>
        </div>
        <hr class="solid" />
        <p class="card-from"><i>{{note.note_from}}</i></p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
