<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add Note</title>
    {% load static %}
    <link rel="stylesheet" href="{%  static  'general.css'  %}" />
  </head>
  <body>
    <button style="background-color: #f44336">
      <a style="color: white" href="/lab-4/">GO BACK</a>
    </button>
    <form
      action="{% url 'add_note' %}"
      method="POST"
      id="usrform"
      style="margin-top: 10px"
    >
      {% csrf_token %}
      <div style="display: flex">
        <label for="note_to">To:</label>
        <input
          type="text"
          name="note_to"
          id="note_to"
          autocomplete="off"
          style="margin-left: 38px"
        />
      </div>
      <div style="display: flex">
        <label for="note_from">From:</label>
        <input type="text" name="note_from" id="note_from" autocomplete="off" />
      </div>
      <div style="display: flex">
        <label for="note_title">Title:</label>
        <input
          type="text"
          name="note_title"
          id="note_title"
          autocomplete="off"
          style="margin-left: 18px"
        />
      </div>
      <div style="margin-top: 15px">
        <label for="note_message">Message:</label><br />
        <textarea
          rows="4"
          cols="50"
          name="note_message"
          form="usrform"
          style="margin-top: 10px"
        ></textarea>
      </div>

      <button
        style="background-color: #008cba; color: white; margin-top: 20px"
        class="button"
        type="submit"
      >
        CREATE
      </button>
    </form>
  </body>
</html>
