<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lab 4</title>
    {% load static %}
    <link rel="stylesheet" href="{%  static  'general.css'  %}" />
  </head>
  <body>
    <div style="display: flex; justify-content: center">
      <button style="background-color: #4caf50">
        <a style="color: white" href="/lab-4/add-note/">ADD NOTE</a>
      </button>
      <button style="background-color: #008cba">
        <a style="color: white" href="/lab-4/note-list/">SEE CARDS</a>
      </button>
    </div>
    <div style="margin-top: 20px"></div>
    <table>
      <tr>
        <td>TO</td>
        <td>FROM</td>
        <td>TITLE</td>
        <td>MESSAGE</td>
      </tr>
      <!-- LOOP -->
      {% for note in notes %}
      <tr>
        <td>{{note.note_to}}</td>
        <td>{{note.note_from}}</td>
        <td>{{note.note_title}}</td>
        <td>{{note.note_message}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
