body {
  font-family: Verdana, sans-serif;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 20px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

button {
  border: none;
  padding: 10px;
  margin: 5px;
}

input {
  margin: 10px;
  align-self: flex-end;
}

label {
  margin: 10px;
  font-size: large;
  color: blue;
}

table {
  border-collapse: collapse;
  border-radius: 25%;
}

td {
  padding: 10px;
}

tr:nth-child(2n) {
  background-color: rgb(199, 199, 199);
}

tr:nth-child(2n + 1) {
  background-color: white;
}

tr:first-child {
  background-color: rgb(48, 43, 43);
  color: rgb(226, 226, 226);
  text-align: center;
}

/* CUSTOM CLASS */

hr.dashed {
  margin-top: 5px;
  border-top: 1px dashed rgb(0, 0, 0);
}

/* Solid border */
hr.solid {
  border-top: 1px solid rgb(0, 0, 0);
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.card {
  background-color: #fffafa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 250px;
}

.card-title {
  text-align: center;
  font-weight: 700;
}

.card-message {
  overflow: hidden;
}

.card-from {
  margin-top: 40px;
}
