<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    {% load static %}
    <link rel="stylesheet" href="{%  static  'lab_5/general.css'  %}" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <table id="note-list"></table>
    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>View</p>
        <p id="modal-to"></p>
        <p id="modal-from"></p>
        <p id="modal-title"></p>
        <p id="modal-message"></p>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        $.get("http://localhost:8000/lab-2/json/", (data, status) => {
          // console.log(data);
          $.each(data, (index, item) => {
            const note = item.fields;

            const buttons = $(
              '<td><button class="view-button">View</button></td>' +
                '<td><button class="view-button">Edit</button></td>' +
                '<td><button class="edit-button">Delete</button></td>'
            );
            const tableData = $(
              "<td>" +
                note.note_to +
                "</td>" +
                "<td>" +
                note.note_from +
                "</td>" +
                "<td>" +
                note.note_title +
                "</td>" +
                "<td>" +
                note.note_message +
                "</td>"
            );

            $("#note-list").append("<tr></tr>");
            $("#note-list > tr:last").append(tableData);
            $("#note-list > tr:last").append(buttons);

            $("#note-list > tr:last .view-button").on("click", () => {
              handleModal("view", item.pk);
            });
          });
        });
      });

      function handleModal(mode, index) {
        // console.log("index: " + index);
        // console.log("index: " + to);
        $.get("http://localhost:8000/lab-5/note/" + index, (data, status) => {
          // console.log(data[0]);
          const note = data[0].fields;
          const pk = data[0].pk;
          const to = note.note_to;
          const from = note.note_from;
          const title = note.note_title;
          const message = note.note_message;

          if (mode == "view") {
            $("#modal").css("display", "block");
            $("#modal-to").html("To: " + to);
            $("#modal-from").html("From: " + from);
            $("#modal-title").html("Title: " + title);
            $("#modal-message").html("Message: " + message);
          }
        });
      }

      $(".close")
        .eq(0)
        .click(() => {
          $("#modal").css("display", "none");
        });
    </script>
  </body>
</html>
