<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <a href="">BACK</a>
    <a href="/lab-2/xml">SEE XML</a>
    <a href="/lab-2/json">SEE JSON</a>
    <table>
      <!-- LOOP -->
      {% for note in notes %}
      <tr>
        <td>{{note.note_to}}</td>
        <td>{{note.note_from}}</td>
        <td>{{note.note_title}}</td>
        <td>{{note.note_message}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
