<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ name }}</title>
  </head>
  <body>
    <a href="/lab-1/friends">BACK</a>
    <h1>{{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I was born at {{ date_of_birth }}</article>
    <article>I'm {{ age }}</article>
  </body>
</html>
